.widthofboxes {
    width: 960px;
    height: 100px;
    margin-top:10px;
}

.container-3 {
    float: left;
    width: 960px;
    height: 350px;
    margin-top: 20px;

}

.bigbodybox {
    background: #777;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    width: 960px;
    font-size: 18px;
}

.BoxColor {
    background: #ebebeb;
}

.sectionBox{
    height: 340px;
    float: left;
    width: 495px;
    margin-right: 20px;
}

.aside{
    float: right;
    height: 300px;
    width: 440px;
    text-align: center;
    padding-top: 40px;

}

.articlebox {
    color: #ebebeb;
    background: #777;
    height: 230px;
    margin: 10px;
    text-align: center;
    padding-top: 15px;
}

.text-padding-lmao {
    padding: 40px;
    text-align: center;
}

.section-text-padding {
    padding-top: 40px;
    padding-bottom: 10px;
    padding-right: 40px;
    padding-left: 40px;
    text-align: center;
}

.hboxes {
    color: #777;
    background: #ebebeb;
    padding-top: 7px;
    padding-bottom: 39px;
    text-align: center;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.pboxes{
    color: #777;
    background: #ebebeb;
    padding-top: 15px;
    padding-bottom: 30px;
    text-align: center;
    height: 40px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.top-container {
    padding-left:150px;
    padding-right:150px;
}

.footerBox {
    float: left;
    width: 960px;
    height: 100px;
    margin-top: 10px;
}